<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Cat Video </title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<center>
    <body>
        <p1> Here is a Video of a Cat Meowing </p1>
        <video width="640" height="480" controls>
            <source src="https://sean-cdn.azureedge.net/flask-app-test/mrrp-mrrp-meow-mrrp-meow.mp4" type="video/mp4">
        </video>
    </body>
</center>
